# Ambiente virtual
venv/
.venv/

# Cache do Python
__pycache__/
*.py[cod]

# Cache do Streamlit
.streamlit/

# Arquivos de sistema
.DS_Store
Thumbs.db

# Ambiente / configurações
.env

# Arquivos de IDE
.vscode/
.idea/